---
---
// Overall
body
  display: flex
  min-height: 100vh
  flex-direction: column

a
  color: #c66900

a:hover
  text-decoration: underline

a:active
  text-decoration: underline

main
  flex: 1 0 auto

h1
  font-size: 3em

h2
  font-size: 2em

h3
  font-size: 1em

#page-info
  font-size: 3em

.highlight
  max-width: 700px
  padding: 1px

.row
  max-width: 700px

header,
main,
footer
  padding-left: 300px

.container
  width: 90%

// Header
header
  height: 80px

  a:hover
    text-decoration: none

  .background
    background: #c66900

a
  &.button-collapse
    &.top-nav
      position: absolute
      text-align: center
      height: 48px
      width: 48px
      top: 0
      float: none
      color: #fff
      font-size: 36px
      z-index: 999
      line-height: 80px

nav 
  .page-title
    font-size: 36px
    font-weight: bold
    line-height: 80px

nav
  &.top-nav
    height: 80px
    background: #ff9800

// Footer
footer.page-footer
  margin-top: 10px
  background: #ff9800

  .row
    margin-bottom: 0px

  p
    margin-top: 5px

// Misc
blockquote
  border-left-color: #ff9800

main
  ul
    &:not(.browser-default)
      padding-left: 40px

      li
        list-style-type: disc

@media only screen and (max-width: 992px)
  header,
  main,
  footer
    padding-left: 0

  nav 
    .nav-wrapper
      text-align: center

@media only screen and (max-width: 600px)
  nav
    .page-title
      font-size: 20px


details, summary
  margin-bottom: 10px

summary::-webkit-details-marker
  display: none

summary:after
  background: red
  border-radius: 5px
  content: "+"
  color: #fff
  float: left
  font-size: 1.5em
  font-weight: bold
  margin: -5px 10px 0 0
  padding: 0
  text-align: center
  width: 20px

details[open] summary:after
  content: "-"
